body {
    font-family: Arial, sans-serif;
    background-color: #c8d6fd;
    margin: 0;
    padding: 0;
}

h1 {
    width: 300px;
    margin-left: 640px;
    text-align: center;
    color: #222;
    box-shadow: 5px 10px;
}

h1 span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f04646;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px -10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"] {
    margin-right: 10px;
}

label.gender-label {
    display: flex;
    font-weight: normal;
}

input[type="file"] {
    margin-top: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.password {
    display: flex;
    gap: 100px;
}

.male,
.female {
    margin-top: -15px;
    margin-left: 80px;
    display: inline-block;
}

.female {
    margin-left: 20px;
}

.fn_error,
.ln_error,
.error_guardian_name,
.email,
.pass_check,
.mob_error,
.add_error,
.pin_error,
.img_error,
.pdf_error {
    font-size: 12px;
}

.register {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 200px;
    width: 160px;
    height: 45px;
}

.password input{
    height: 22px;
}

.password img{
    width: 30px;
    margin-bottom: -4px;
    margin-left: -36px;
}

.image{
    margin-top: 15px;
}

.file{
    margin-top: 15px;
    margin-bottom: 10px;
}

.dob{
    margin-left: 275px;
    margin-top: -50px;
}

.dob input{
    width: 110px;
    height: 22px;
}

::placeholder{
    font-size: 11px;
    color: #afadad;
}